.board {
  table-layout: fixed;
  height: 100%;
  border-collapse: collapse;
}

td {
  background: rgb(150, 220, 45);
}

tr:nth-of-type(odd) td:nth-of-type(odd) {
  background: rgb(132, 208, 30);
}

tr:nth-of-type(even) td:nth-of-type(even) {
  background: rgb(132, 208, 30);
}

td.revealed {
  background-color: rgb(214, 175, 136);
}

tr:nth-of-type(odd) td.revealed:nth-of-type(odd) {
  background: rgb(231, 186, 142);
}

tr:nth-of-type(even) td.revealed:nth-of-type(even) {
  background: rgb(231, 186, 142);
}