table {
  table-layout: fixed;
  border-collapse: collapse;
  height: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

td {
  text-align: center;
  background: rgb(150, 220, 45);
  width: 20px;
  height: 20px;

  img {
    vertical-align: initial;
    width: 15px;
    margin-top: 1px;
  }
}

tr:nth-of-type(odd) td:nth-of-type(odd) {
  background: rgb(132, 208, 30);
}

tr:nth-of-type(even) td:nth-of-type(even) {
  background: rgb(132, 208, 30);
}

td.revealed {
  background-color: rgb(214, 175, 136);
}

tr:nth-of-type(odd) td.revealed:nth-of-type(odd) {
  background: rgb(231, 186, 142);
}

tr:nth-of-type(even) td.revealed:nth-of-type(even) {
  background: rgb(231, 186, 142);
}