table {
  table-layout: fixed;
  border-collapse: collapse;
  height: 100%;
}

// .tile {
//   max-width: 18px;
//   width: 18px;
//   min-width: 18px;
//   min-height: 18px;
//   height: 18px;
//   max-height: 18px;
// }


td {
  background: rgb(150, 220, 45);
  width: 18px;
  height: 18px;
}

tr:nth-of-type(odd) td:nth-of-type(odd) {
  background: rgb(132, 208, 30);
}

tr:nth-of-type(even) td:nth-of-type(even) {
  background: rgb(132, 208, 30);
}

td.revealed {
  background-color: rgb(214, 175, 136);
}

tr:nth-of-type(odd) td.revealed:nth-of-type(odd) {
  background: rgb(231, 186, 142);
}

tr:nth-of-type(even) td.revealed:nth-of-type(even) {
  background: rgb(231, 186, 142);
}